.contenedorPadreHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}

.BingleTon {
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    margin: 0px auto;
    position: absolute;
    font-weight: 600;
    color: white;
}

.header {
    background-color: #000;
    border-bottom: solid aqua;
    position: relative;
    padding: 0 20px;
}

.logo {
    max-width: 60px;
}

.ul-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 20px;
    margin-right: auto;
}

.a-nav {
    padding: 5px;
    font-family: 'Orbitron', sans-serif;
    text-decoration: none;
    color: white!important;
}

.formulario-busqueda {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.buscador {
    width: 200px;
    height: 35px;
    font-size: 20px;
    color: #000;
    outline: 1px solid silver;
    border-radius: 30px;
    font-family: 'Quantico', sans-serif;
}

.mensaje-error-buscador {
    font-family: 'Orbitron', sans-serif;
    font-size: 10px;
    position: absolute;
    bottom: -10px;
}